body {
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  /* max-width: 1000px; */
  margin: 1rem auto;
  /* border: 1px solid #ccc; */
  padding: 1rem;
}
header,
footer {
  color: white;
  background-color: #2b81e3;
}
header {
  margin-top: 0;
}
footer {
  margin-bottom: 0;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
}
h1 {
  text-align: center;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding: 5px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px;
}
nav {
  text-align: center;
}
nav a {
  font-size: 1.25em;
  padding: 20px;
  color: white;
  display: none;
}
nav a:hover {
  text-decoration: none;
  color: #616061;
}
.menu-btn {
  font-size: 1.25em;
  /* padding: 20px; */
  color: white;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}
button p {
  text-align: center;
}
footer {
  text-align: center;
}

@media screen and (min-width: 700px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  main {
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .menu-btn {
    display: none;
  }
  nav a {
    display: inline;
  }
}
