* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', 'Times New Roman', serif;
    color: #000;
    /* background-color: #f5f5f5; */
    background-color: #fff;
}

#page-content {
    
    max-width: 850px;
    margin: 50px auto;
    border: 1px solid #999;
    padding: 70px 125px 70px 125px;
}

#title-heads {
    text-align: center;
    margin-bottom: 50px;
}

#title-heads h1 {
    font-size: 35px;
    font-weight: 450;
    letter-spacing: 8px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#title-heads h4 {
    font-size: 13px;
    color: #0066CC;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: 1px solid #0066CC;
    font-weight: 400;
}

p {
    font-size: 18px;
    line-height: 1.8;
    text-align: left;
    margin-bottom: 25px;
}

p:nth-of-type(2) {
    font-style: italic;
    margin-bottom: 25px;
    margin-top: 25px;
}

ol {
    list-style-position: outside;
    margin-left: 30px;
    margin-bottom: 70px;
    padding-left: 10px;
}

ol li {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 25px;
    padding-left: 10px;
}

ol li:last-child {
    margin-bottom: 0;
}

#footer {
    text-align: center;
    margin-top: 60px;
}

#footer img {
    max-width: 160px;
    height: auto;
}

.dark-mode {
    background-color: #333333;
    color: #fff;
}

@media (max-width: 768px) {
    body {
        padding: 40px 30px;
        margin: 20px auto;
    }
    
    #title-heads h1 {
        font-size: 32px;
        letter-spacing: 4px;
    }
    
    #title-heads h4 {
        font-size: 11px;
        letter-spacing: 3px;
    }
    
    p,
    ol li {
        font-size: 16px;
    }
    
    #footer img {
        max-width: 130px;
    }
} 
