@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Mobile */

body {
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
main {
  display: grid;
  grid-template-columns: 1fr;
}
h1 {
  text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}
nav a {
  padding: 20px;
  color: black;
  display: block;
  text-align: center;
  text-decoration: none;
  border-top: 1px solid grey;
}
nav a:hover {
  text-decoration: none;
  color: #616061;
}
.hide {
  display: none;
}
.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
  transition: 0.4s;
}
footer {
  text-align: center;
}

/* Bigger than 700px VVV */

@media screen and (min-width: 700px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
  .menu-btn {
    display: none;
  }
  nav a {
    display: inline;
    border-top: none;
  }
  nav {
    text-align: center;
  }
  .hide {
    display: block;
  }
}

/* Bigger than 1000px VVV */

@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
